.title-container {
  width: 540px;
  margin: auto;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: auto;
}

.input-group-text {
  width: 150px;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 540px;
  margin: auto;
}

.btn-item {
  width: 75px;
}

.btn-primary {
  width: 100%;
}